body {
    background: #000099;     /* blauwige achtergrond */
}

p {
    border-radius: 25px;     /* afgeronde hoeken */
    background: #ddddff;     /* lichtblauwige achtergrond */
    padding: 20px;
    margin: 30px;
    width: 400px;
}
